@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte02);
    padding-top: 50px;
    /* text-transform: uppercase; MAIÚSCULO  */ 
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

.paragrafo{
    background-color: white;
    color: black;
}

.img {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-size: cover;
    background-attachment: fixed;
}

.img > p {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 5px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}